.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding-top: 3rem;
}

.card {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
